<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}RudAI{% endblock %}</title>
    <link rel="icon" href="{% static 'img/site_icon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'home' %}"><img src="{% static 'img/site_icon.png' %}" alt="Logo"></a>
        <div>
            {% if user.is_authenticated %}
                <span>{{ user.username }}</span>
                <a href="{% url 'logout' %}">Exit</a>
            {% else %}
                <a href="{% url 'login' %}">Log in</a>
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </nav>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="message {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    {% block content %}{% endblock %}
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>